<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <target namex="Http" minlevel="DEBUG" url="http://ptsv2.com/t/8erlh-1532184489/post" />
  <target name="console" minlevel="INFO"/>
  <target name="File" minlevel="INFO" path="C:\Users\ra00099907\Desktop\ClassLog\log.txt"/>

  <messageFormat pattern="Mensagem: [MESSAGE] - Timestamp: [TIMESTAMP] - Level: [LEVEL]"/>

</configuration>